In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt

In [3]:
todos = []
for f in glob.glob("*.xlsx"):
    df=pd.read_excel(f)
    todos.append(pd.read_excel(f))

In [30]:
# CONCATENANDO TODOS LOS DATAFRAME EN todos
df = pd.concat(todos, ignore_index=True)
df.head(10)

            Entidad         Rango  Hombres  Mujeres
0  Ciudad de México  10 a 14 años   314701   303544
1               NaN    5 a 9 años   334885   324063
2               NaN  10 a 14 años   334674   325671
3               NaN  15 a 19 años   363265   360107
4               NaN  20 a 24 años   372368   381036
5               NaN  25 a 29 años   352969   373727
6               NaN  30 a 34 años   335988   366654
7               NaN  35 a 39 años   341865   380349
8               NaN  40 a 44 años   295151   334412
9               NaN  45 a 49 años   256078   299403

In [33]:
df.shape

(105, 4)

In [32]:
grabar = pd.ExcelWriter("resultados.xlsx")
df.to_excel(grabar, "Hoja 1")
grabar.close()

In [34]:
#RELLENAR LO FALTANTE CON LO ULTIMO ENCONTADO
df=df.ffill()
df

              Entidad           Rango  Hombres  Mujeres
0    Ciudad de México    10 a 14 años   314701   303544
1    Ciudad de México      5 a 9 años   334885   324063
2    Ciudad de México    10 a 14 años   334674   325671
3    Ciudad de México    15 a 19 años   363265   360107
4    Ciudad de México    20 a 24 años   372368   381036
..                ...             ...      ...      ...
100    Aguascalientes    80 a 84 años     3094     4134
101    Aguascalientes    85 a 89 años     1780     2281
102    Aguascalientes    90 a 94 años      605      862
103    Aguascalientes    95 a 99 años      229      322
104    Aguascalientes  100 años y más       45       64

[105 rows x 4 columns]

In [35]:
df.shape

(105, 4)