In [ ]:
import pandas as pd
import numpy as np

In [63]:
registros = pd.read_csv("ATP.csv")
print(registros.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46637 non-null  object
 12  LRank       46581 non-null  object
 13  W1          46423 non-null  float64
 14  L1          46423 non-null  float64
 15  W2          45962 non-null  float64
 16  L2          45963 non-null  float64
 17  W3          21365 non-null  float64
 18  L3          21365 non-null  float64
 19  W4          4226 non-null   float64
 20  L4          4226 non-null   float64
 21  W5          1617 non-null   float64
 22  L5          1617 non-null   float64
 23  Wsets       46462 non-null  float64
 24  Lsets       46462 non-null  float64
 25  Comment     46652 non-null  object
 26  CBW         17507 non-null  float64
 27  CBL         17507 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       38019 non-null  float64
 35  B365L       38042 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         33799 non-null  float64
 39  EXL         33804 non-null  float64
 40  PSW         31729 non-null  float64
 41  PSL         31729 non-null  float64
 42  WPts        30448 non-null  float64
 43  LPts        30396 non-null  float64
 44  UBW         10672 non-null  float64
 45  UBL         10672 non-null  float64
 46  LBW         23230 non-null  float64
 47  LBL         23239 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        17104 non-null  float64
 51  MaxL        17104 non-null  float64
 52  AvgW        17104 non-null  float64
 53  AvgL        17104 non-null  float64
dtypes: float64(40), int64(2), object(12)
memory usage: 19.2+ MB
None

/tmp/ipykernel_189042/2638620243.py:1: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  registros = pd.read_csv("ATP.csv")

In [ ]:

nuevo = pd.DataFrame(registros)
nuevo

In [ ]:
nuevo = nuevo.replace(np.nan,"0")
print("+"*5+"SIN NaN"+"*"*5)
print(nuevo.info())

In [ ]:
registros

In [ ]:
nuevo.describe()

In [ ]:
#SOLO NUMEROS
nuevo.describe(include=([np.number]))

In [ ]:
#REMPLAZANDO DATOS
nuevo = nuevo.replace("NR","0")
nuevo

In [ ]:
list(nuevo)

In [ ]:
#CONVIRTIENDO DATOS EN ENTERO
nuevo["Wsets"]=nuevo.Wsets.astype(int)
nuevo["WRank"]=nuevo.WRank.astype(int)

In [ ]:
nuevo.describe()

In [ ]:
#ELIMINAR TODAS LAS FILAS
nuevo.dropna(how="any", inplace=True)
nuevo

In [ ]:
#IMPRIMIEDO LAS PRIMERAS 5 FILAS
nuevo.iloc[0:5]

In [ ]:
#IMPRIMIENDO FILAS SALTEADAS
nuevo.iloc[[0,3,6,24]]

In [ ]:
#TRABAJAR CON LAS COLUMNAS
nuevo.iloc[:,0:5]

In [ ]:
#TRABAJAR CON FILAS Y COLUMAS
nuevo.iloc[[0,3,6,25,28],[0,5,8,9]]

In [ ]:
#TRABAJAR CON FILAS Y COLUMAS
nuevo.iloc[[0,3,6,25,28],[0,8,7,6,5]]

In [ ]:
#INDICAR LA COLUMNA LOCATION COMO INDEX
nuevo.set_index("Location", inplace=True)

In [ ]:
nuevo

In [ ]:
nuevo.loc["Melbourne"]

In [ ]:
nuevo.loc["Atlanta","Surface"]

In [ ]:
#SELECCION AMPLIA
nuevo.loc[["Atlanta","Melbourne"],["Series","Court"]]

In [ ]:
#SELECCION AMPLIA
nuevo.loc[["Atlanta","Melbourne"],"Series":"Round"]

In [ ]:
#SELECCIONAR LAS SERIES TERMINADAS EN Slam
nuevo.loc[nuevo["Series"].str.endswith("Slam")]

In [48]:
#EXPORTAR ARCHIVO CSV PARA MAS AYUDA
dfCSV = nuevo.loc[nuevo["Series"].str.endswith("Slam")]
dfCSV.to_csv("CSV/Slam.csv", header=True, index=False)

In [49]:
#EXPORTAR ARCHIVO CSV PARA MAS AYUDA
dfCSV = nuevo.loc[nuevo["Series"].str.endswith("Slam")]
dfCSV.to_csv("CSV/Slam2.csv")

In [51]:
#CONSULTAR REGISTROS CON CONDICIONES
nuevo

,ATP,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
Location,,,,,,,,,,,,,,,,,,,,,
Adelaide,1,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,...,0,0,0,0,0,0,0,0,0,0
Adelaide,1,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,Clement A.,...,0,0,0,0,0,0,0,0,0,0
Adelaide,1,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,...,0,0,0,0,0,0,0,0,0,0
Adelaide,1,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,Knippschild J.,...,0,0,0,0,0,0,0,0,0,0
Adelaide,1,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,Woodbridge T.,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
St. Petersburg,54,St. Petersburg Open,23/09/2016,ATP250,Indoor,Hard,Quarterfinals,3,Zverev A.,Youzhny M.,...,0,0,1.57,2.38,0,0,1.66,2.45,1.6,2.3
St. Petersburg,54,St. Petersburg Open,23/09/2016,ATP250,Indoor,Hard,Quarterfinals,3,Wawrinka S.,Troicki V.,...,0,0,1.22,4.33,0,0,1.24,4.91,1.21,4.34
St. Petersburg,54,St. Petersburg Open,24/09/2016,ATP250,Indoor,Hard,Semifinals,3,Zverev A.,Berdych T.,...,0,0,2.38,1.57,0,0,3.12,1.57,2.68,1.46
St. Petersburg,54,St. Petersburg Open,24/09/2016,ATP250,Indoor,Hard,Semifinals,3,Wawrinka S.,Bautista Agut R.,...,0,0,1.33,3.4,0,0,1.41,3.8,1.31,3.4
St. Petersburg,54,St. Petersburg Open,25/09/2016,ATP250,Indoor,Hard,The Final,3,Zverev A.,Wawrinka S.,...,0,0,3.3,1.33,0,0,3.58,1.36,3.36,1.31

In [54]:
nuevo.loc[nuevo["Court"]=="Outdoor",["Surface","Winner"]]

         Surface        Winner
Location
Adelaide    Hard    Dosedel S.
Adelaide    Hard    Enqvist T.
Adelaide    Hard     Escude N.
Adelaide    Hard    Federer R.
Adelaide    Hard   Fromberg R.
...          ...           ...
New York    Hard  Nishikori K.
New York    Hard   Wawrinka S.
New York    Hard   Djokovic N.
New York    Hard   Wawrinka S.
New York    Hard   Wawrinka S.

[38350 rows x 2 columns]

In [55]:
#BUSQUEDA CON VARIAS CONDICIONES
nuevo.loc[nuevo["Series"].str.endswith("Slam")&(nuevo["Surface"]=="Clay")&(nuevo["Winner"]=="Federer R.")&(nuevo["Round"]=="The Final")]

,ATP,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
Location,,,,,,,,,,,,,,,,,,,,,
Paris,31,French Open,7/06/2009,Grand Slam,Outdoor,Clay,The Final,5,Federer R.,Soderling R.,...,1.26,4.0,1.222,4.0,1.25,4.0,0,0,0,0

In [77]:
#ORDENAR LOS VALORES
registros = pd.read_csv("DatosYT.csv")
nuevo = pd.DataFrame(registros)
nuevo.sort_values(by=["id"],ascending=[False])

     id  type        xs        ys        zs
11  754     1  0.541953  0.275987  0.035143
12  737     1  0.529449  0.313131  0.123254
9   710     1  0.431955  0.334981  0.152336
10  612     1  0.486912  0.343823  0.000880
7   572     1  0.398526  0.368158  0.029198
15  566     1  0.700857  0.316037  0.147745
8   563     1  0.449962  0.296985  0.070094
0   500     1  0.413068  0.247238  0.139937
4   396     1  0.678003  0.227263  0.134453
2   391     1  0.596777  0.212693  0.082769
1   384     1  0.509008  0.225649  0.113632
6   199     1  0.355738  0.315005  0.096178
16  189     1  0.155960  0.453291  0.147866
5   183     1  0.263006  0.326260  0.129268
13  137     1  0.573823  0.364810  0.043554
14  108     1  0.618594  0.298632  0.091062
3    91     1  0.554459  0.155958  0.152680