In [2]:
import pandas as pd
import numpy as np

In [3]:
datos = pd.read_csv("precios.csv")
df = pd.DataFrame(datos)
df

                    producto        procedencia     precio
0              Aguacate hass  MichoacándeOcampo  37.113636
1                      Fresa         Guanajuato  19.772955
2                    Guayaba     Aguascalientes   7.500000
3               Limón núm. 5             Colima  18.303864
4   Manzana golden delicious        Importación  26.640909
5   Naranja valencia mediana          NuevoLeón   5.345455
6          Papaya amarilla a  MichoacándeOcampo   9.636364
7        Piña cayene mediana             Oaxaca   7.431818
8            Plátano tabasco             Colima   5.995455
9               Toronja roja  MichoacándeOcampo   9.172727
10                 Uva globo        Importación  40.908182

In [5]:
def pago(cantidad,precio):
    costo=cantidad*precio
    return costo

producto = input("Introcuce  tu compra")
piezas = int(input("Cunatas piezas necesita"))
precio = df[df["producto"]==producto]["precio"]

pago(piezas,precio)

1    39.545909
Name: precio, dtype: float64